{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
    <link rel="stylesheet" href="{% static 'signup.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">
		{% if messages %}
		<ul class="messages" >
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		  </ul>
		{% endif %}

			<div class="signup">
				<form method="POST">
				{% csrf_token %}
					<label for="chk" aria-hidden="true">Forget password</label>
					

					<input type="password" name="password" placeholder="enter new password" required="">
                    <input type="password" name="password2" placeholder="password" required="">

					<input type="hidden" name="user_id" value="{{user_id}}">

					<button>reset</button>
				</form>
			</div>