{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search-Preview</title>
    <link rel="stylesheet" href="{% static 'css/Search-Preview.css' %}">
    <link rel="stylesheet" href="{% static 'css/drop.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/drops.css' %}"> -->
</head>
<body>
    <div class="row r1">
    <header>
        <nav>
              <a href="/"><img class="logo-img"src="{% static 'images/LOGO SearchSping0111.png' %}" alt="" id="nav-img"></a>
              {% if user.is_authenticated %}
              <div class="dropdown">
                <a class="nav-btn" href="/singnup"><button type="button" id="btn" class="btn dropbtn">{{request.user.get_username}}</button></a></li>
                <div class="dropdown-content">
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="{% url 'edit' %}">Edit Profile</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
              </div>
                {% else %}
              <a class="nav-btn" href="/singnup"><button type="button" id="btn" class="btn dropbtn">Sign in</button></a></li>
              {% endif %}
              
                 
                <!-- <a class="nav-btn" href="/singnup"><button type="button" id="btn" class="btn">Sign in</button></a></li> -->
            </li>
        </ul>     
        </nav>
    </div>
    <div class="row r2">
        <div class="column col-1" >
            <div>
                <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
                    src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=J-2, First Floor Shanker Square Trade Center, Jeoni Mandi, Agra, 
                    Uttar Pradesh 282006&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://mcpenation.com/"></a>
                </div></div>
            </div>
          
          
        </div>
        <div class="column col-2 ">
            <div class="search-holder">
                <div class="search-holder-keyword">
                    <h5>keywords</h5>
                    <input type="text" name="keywords" placeholder="keywords" value="" class="search-holder-keywords">
                </div>
                <div class="search-holder-keyword">
                    <h5>Category</h5>
                    <form method="get" action="searching/">
                    <select name="All Category" class="search-holder-keywords">
                        <option value="">Hotel</option>
                        <option value="">Eduction</option>
                        <option value="">Restorent</option>
                        <option value="">doctore</option>
                    </select>
                </div>
                <div class="search-holder-keyword" >
                    <h5>All Location</h5>
                    <select name="All Location" class="search-holder-keywords">
                        <option value="">Agra</option>
                        <option value="">Jeoni Mandi</option>
                        <option value="">Sanjay Place</option>
                        <option value="">Ram Bagh</option>
                        <option value="">Kamla Nagar</option>
                    </select>
                
                </div>
            </div>
            </form>
            <div class="row">
                
                {% for b in all %}
                <div class="column col-3"><a href="{% url 'productdetail' b.id %}">
                  <img id="ss" src="{{b.gallery_img1.url}}" style="height: 150px; width: 100%; padding: 10px; justify-content: center;">
                  <h2 class="text">{{b.name}}</h2>
                  <p class="p-text">{{b.specification}}</p>
                  </a>
                </div>
                {% endfor %}
        </div>  
    </div>
</body>
</html>