
{% extends 'base.html' %}
{% load static %}
{% block title%}
    Main
{%endblock%}

{% block nav %}

<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div class="nav_list">
          <a href="#" class="nav_link active">
            <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">We are hiring</span>
          </a>
          <a href="#" class="nav_link">
            <i class='bx bx-shopping-bag nav_icon'></i> <span class="nav_name">Shopping</span>
          </a>
          <a href="#" class="nav_link">
            <i class='bx bx-add-to-queue nav_icon'></i> <span class="nav_name">Post Business</span>
          </a>
          <a href="#" class="nav_link">
            <i class='bx bx-message nav_icon'></i> <span class="nav_name">Message</span>
          </a>
          <a href="#" class="nav_link">
            <i class='bx bx-list-check nav_icon'></i> <span class="nav_name">Free Listing</span>
          </a>
          <a href="#" class="nav_link">
            <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Popular Categories</span>
          </a>
        </div>
        <a href="#" class="nav_link">
          <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span>
        </a>
      </nav>
</div>
{% endblock  %}
{% block content %}
<div class=" body-tag">
    <div class="bodyhead" style="height: 300px; width: 100%;" >
     <div class="row">

        <div class="input-box col-12 ">
            <form class="col-md-6  searchhead" method="get" action="{% url 'searching' %}"> 
            <span class="fa fa-search form-control-feedback"></span>                   
            <input type="text"  placeholder="Search here..." id="query" name="query" />
            
            <input type="text" class="col-md-4" placeholder="Location..." id="query" name="query" />
            <button class="button">Search</button>
        </div>


         
      </div>
     <main class="app">
         <div class="boxes">
           <ul>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
           </ul>
         </div>
       
       </main>         

    </div> 
    {% for b in all %}
     <div  style="display: flex; flex-direction: row; justify-content: space-around; width: 100%;">
         <div class="center">
             <div class="card">
                 <a href="{% url 'productdetail' b.id %}">
                 <div class="additional">
                     <div class="user-card">  
                         <img src="{{b.gallery_img1.url}}" width="110" height="110" alt="Avatar" >
                     </div>                    
                 </div>
                <div class="general">
                        <h1>{{b.name}}</h1>
                        <p>{{b.specification}}</p>
                        <span class="more">Mouse over the card for more info</span>
                    </div>                 
                </div>
            </a>
            </div>
        
     </div> 
   
     {% endfor %}

 </div>  


{% endblock %}


{% block footer %}
<footer class="footer-14398">
    <div class="container">
    <div class="row mb-5">
    <div class="col-md-3">
    <a href="main.html" class="footer-site-logo">Acculizein Tech</a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit officiis corporis optio natus. </p>
    </div>
    <div class="col-md-2 ml-auto">
    <h3>Home</h3>
    <ul class="list-unstyled links">
    <li><a href="#"> Dream Company</a></li>
    <li><a href="#">Featured Job</a></li>
    <li><a href="#">Top Companies</a></li>
    <li><a href="#">Easy-Apply</a></li>
  
    </ul>
    </div>
    <div class="col-md-2 ml-auto">
    <h3>Jobs</h3>
    <ul class="list-unstyled links">
    <li><a href="#">Search</a></li>
    <li><a href="#">Filters</a></li>
    <li><a href="#">Job-Post</a></li>
    <li><a href="#">Dreamwork</a></li>
    
    </ul>
    </div>
    <div class="col-md-2 ml-auto">
      <h3>Hiring</h3>
      <h3>Login</h3>
      <h3>Save Post</h3>
      <i class=" bi bi-facebook"></i>
      <i class=" bi bi-telephone-fill"></i>
      <i class=" bi bi-instagram"></i>
      
    </ul>
    </div>
    </div>
    <div class="row mb-4">
    <div class="col-12 pb-4">
    <div class="line"></div>
    </div>
    <div class="col-md-6 text-md-left" >
    <ul class="list-unstyled link-menu nav-left">
    <li><a href="#" style="color: white;">Privacy Policy</a></li>
    <li><a href="#" style="color: white;">Terms &amp; Conditions</a></li>
    
    </ul>
    </div>
    <div class="col-md-6 text-md-right">
    <ul class="list-unstyled social nav-right">
    <li><a href="#"><span class="icon-twitter"></span></a></li>
    <li><a href="#"><span class="icon-instagram"></span></a></li>
    <li><a href="#"><span class="icon-facebook"></span></a></li>
    <li><a href="#"><span class="icon-pinterest"></span></a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </footer>

{% endblock %}